{% include 'breadcrumb' %}

{% include 'page-header' %}

<div class="article primary-inner">
  <div class="article-inner container">
    <div class="row">

      <div class="article-inner cell-xl-9 cell-sm-12">

        {% include 'article-body' %}

        {% include 'article-comments' %}

      </div>

      <div class="article-right-column cell-xl-3 cell-sm-12">

        {% include 'article-right-column' %}

      </div>
    </div>
  </div>
</div>