{% include 'breadcrumb' %}

<div class="blog primary-inner">
  <div class="blog-inner container">

    <div class="row">

      <div class="blog-articles cell-xl-9 cell-sm-12">

        <div class="page-header">
          <h1>
            {{ title | editable }}
          </h1>
        </div><!-- /.page-header -->

        {% include 'articles-list' %}

      </div>

      <div class="blog-right-column cell-xl-3 cell-sm-12">

        {% include 'article-right-column' %}

      </div>
    </div>
  </div>
</div>