
(function(a){function b(a,b){var c=(a&65535)+(b&65535),d=(a>>16)+(b>>16)+(c>>16);return d<<16|c&65535}function c(a,b){return a<<b|a>>>32-b}function d(a,d,e,f,g,h){return b(c(b(b(d,a),b(f,h)),g),e)}function e(a,b,c,e,f,g,h){return d(b&c|~b&e,a,b,f,g,h)}function f(a,b,c,e,f,g,h){return d(b&e|c&~e,a,b,f,g,h)}function g(a,b,c,e,f,g,h){return d(b^c^e,a,b,f,g,h)}function h(a,b,c,e,f,g,h){return d(c^(b|~e),a,b,f,g,h)}function i(a,c){a[c>>5]|=128<<c%32,a[(c+64>>>9<<4)+14]=c;var d,i,j,k,l,m=1732584193,n=-271733879,o=-1732584194,p=271733878;for(d=0;d<a.length;d+=16)i=m,j=n,k=o,l=p,m=e(m,n,o,p,a[d],7,-680876936),p=e(p,m,n,o,a[d+1],12,-389564586),o=e(o,p,m,n,a[d+2],17,606105819),n=e(n,o,p,m,a[d+3],22,-1044525330),m=e(m,n,o,p,a[d+4],7,-176418897),p=e(p,m,n,o,a[d+5],12,1200080426),o=e(o,p,m,n,a[d+6],17,-1473231341),n=e(n,o,p,m,a[d+7],22,-45705983),m=e(m,n,o,p,a[d+8],7,1770035416),p=e(p,m,n,o,a[d+9],12,-1958414417),o=e(o,p,m,n,a[d+10],17,-42063),n=e(n,o,p,m,a[d+11],22,-1990404162),m=e(m,n,o,p,a[d+12],7,1804603682),p=e(p,m,n,o,a[d+13],12,-40341101),o=e(o,p,m,n,a[d+14],17,-1502002290),n=e(n,o,p,m,a[d+15],22,1236535329),m=f(m,n,o,p,a[d+1],5,-165796510),p=f(p,m,n,o,a[d+6],9,-1069501632),o=f(o,p,m,n,a[d+11],14,643717713),n=f(n,o,p,m,a[d],20,-373897302),m=f(m,n,o,p,a[d+5],5,-701558691),p=f(p,m,n,o,a[d+10],9,38016083),o=f(o,p,m,n,a[d+15],14,-660478335),n=f(n,o,p,m,a[d+4],20,-405537848),m=f(m,n,o,p,a[d+9],5,568446438),p=f(p,m,n,o,a[d+14],9,-1019803690),o=f(o,p,m,n,a[d+3],14,-187363961),n=f(n,o,p,m,a[d+8],20,1163531501),m=f(m,n,o,p,a[d+13],5,-1444681467),p=f(p,m,n,o,a[d+2],9,-51403784),o=f(o,p,m,n,a[d+7],14,1735328473),n=f(n,o,p,m,a[d+12],20,-1926607734),m=g(m,n,o,p,a[d+5],4,-378558),p=g(p,m,n,o,a[d+8],11,-2022574463),o=g(o,p,m,n,a[d+11],16,1839030562),n=g(n,o,p,m,a[d+14],23,-35309556),m=g(m,n,o,p,a[d+1],4,-1530992060),p=g(p,m,n,o,a[d+4],11,1272893353),o=g(o,p,m,n,a[d+7],16,-155497632),n=g(n,o,p,m,a[d+10],23,-1094730640),m=g(m,n,o,p,a[d+13],4,681279174),p=g(p,m,n,o,a[d],11,-358537222),o=g(o,p,m,n,a[d+3],16,-722521979),n=g(n,o,p,m,a[d+6],23,76029189),m=g(m,n,o,p,a[d+9],4,-640364487),p=g(p,m,n,o,a[d+12],11,-421815835),o=g(o,p,m,n,a[d+15],16,530742520),n=g(n,o,p,m,a[d+2],23,-995338651),m=h(m,n,o,p,a[d],6,-198630844),p=h(p,m,n,o,a[d+7],10,1126891415),o=h(o,p,m,n,a[d+14],15,-1416354905),n=h(n,o,p,m,a[d+5],21,-57434055),m=h(m,n,o,p,a[d+12],6,1700485571),p=h(p,m,n,o,a[d+3],10,-1894986606),o=h(o,p,m,n,a[d+10],15,-1051523),n=h(n,o,p,m,a[d+1],21,-2054922799),m=h(m,n,o,p,a[d+8],6,1873313359),p=h(p,m,n,o,a[d+15],10,-30611744),o=h(o,p,m,n,a[d+6],15,-1560198380),n=h(n,o,p,m,a[d+13],21,1309151649),m=h(m,n,o,p,a[d+4],6,-145523070),p=h(p,m,n,o,a[d+11],10,-1120210379),o=h(o,p,m,n,a[d+2],15,718787259),n=h(n,o,p,m,a[d+9],21,-343485551),m=b(m,i),n=b(n,j),o=b(o,k),p=b(p,l);return[m,n,o,p]}function j(a){var b,c="";for(b=0;b<a.length*32;b+=8)c+=String.fromCharCode(a[b>>5]>>>b%32&255);return c}function k(a){var b,c=[];c[(a.length>>2)-1]=undefined;for(b=0;b<c.length;b+=1)c[b]=0;for(b=0;b<a.length*8;b+=8)c[b>>5]|=(a.charCodeAt(b/8)&255)<<b%32;return c}function l(a){return j(i(k(a),a.length*8))}function m(a,b){var c,d=k(a),e=[],f=[],g;e[15]=f[15]=undefined,d.length>16&&(d=i(d,a.length*8));for(c=0;c<16;c+=1)e[c]=d[c]^909522486,f[c]=d[c]^1549556828;return g=i(e.concat(k(b)),512+b.length*8),j(i(f.concat(g),640))}function n(a){var b="0123456789abcdef",c="",d,e;for(e=0;e<a.length;e+=1)d=a.charCodeAt(e),c+=b.charAt(d>>>4&15)+b.charAt(d&15);return c}function o(a){return unescape(encodeURIComponent(a))}function p(a){return l(o(a))}function q(a){return n(p(a))}function r(a,b){return m(o(a),o(b))}function s(a,b){return n(r(a,b))}function t(a,b,c){return b?c?r(b,a):s(b,a):c?p(a):q(a)}"use strict",typeof define=="function"&&define.amd?define(function(){return t}):a.md5=t})(this);

var cart_count=0;
var cart_price=0;
var summa=0;
var first = 1;

var cart = null;
var build = [];
var condata = [];

var conact = 0;
var curconstitem = -1;

var ohash = '';


var rajons = [
               'Sparta'
              ];

var freesheep = [
                 1000
               ];
var sheep = [
                 140
             ];



$(document).ready(function() {


    cart_init();
     $.ajax({
                    type:"GET",
                    url: 'constrdata.php',
		    dataType: 'json',
                    success: function (result) {
                        init_constr(result);
                    }
     });
       $('#navigation a:last').click(function() {


        show_constr(-1);

    });
    refresh_cart();


});





function cart_init() {


       try {
             if ($.cookie('cartcontent')!== 'undefined') {

                cc = $.parseJSON( $.cookie('cartcontent') );
                cart = cc[0];
                ohash = cc[1];
             } else {

                clear_cart();
             }
        } catch (err) {
            // Error handling
        }
   if (cart==null) clear_cart();

    $(".plate-dishes-buy").each(function() {

        $(this).css('position', 'static');
        $(this).css('float', 'left');
        $(this).css('left', '0px');
        $(this).css('margin-top', '4px');

    });


    $(".plate-dishes-options-buy").each(function() {


        $(this).append('<a class="addtocart"></a>');

    });

    $(".flexslider").each(function() {


        $(this).append('<div id="cartdiv" class="cartdivstay"><div id="cartstatic"></div><div id="orderdiv" class="orderdivstay"></div></div>');

     });


    var posx = $("#cartdiv").offset().left;
    var posy = 224; //$("#cartdiv").offset().top;
    $(window).scroll(function(e){
        if ($(window).scrollTop() < posy-4) {
            $("#cartdiv").addClass('cartdivstay').removeClass('cartdivfly').removeClass('cartdivrel').css('top','0px');
            $("#cartstatic").removeClass('cartstaticfly');
            $("#orderdiv").addClass('orderdivstay');
        } else {
            if ($(window).scrollLeft() > 0 ) {
                $("#cartdiv").addClass('cartdivrel').removeClass('cartdivstay').removeClass('cartdivfly').css('top',($(window).scrollTop()-224-3)+'px');
            } else {
                $("#cartdiv").addClass('cartdivfly').removeClass('cartdivstay').removeClass('cartdivrel').css('top','0px');
            }
                $("#cartstatic").addClass('cartstaticfly');
                $("#orderdiv").removeClass('orderdivstay');
        }
    });

    $("#orderdiv").hide();

    $(".addtocart").click(function() {

        var params = get_params(this);

        add_to_cart(params);

        //alert(params.join());


        var containerLeft = $("#cartdiv").offset().left;
        var containerTop = $("#cartdiv").offset().top;
        var image = $(this).parent().parent().parent().parent().parent().find('img');
        var elemTop = image.offset().top;
        var elemLeft = image.offset().left;
        var elemWidth = image.width() ;
        var elemHeight = image.height() ;

        image.clone().appendTo($('body')).css({
            'position': 'absolute',
            'left': elemLeft,
            'top': elemTop,
            'width': elemWidth,
            'height': elemHeight,
            'z-index': '10001',
            'opacity': '0.5'
        }).animate({
            opacity: 0,
            left: containerLeft,
            top: containerTop
        }, 1200, function() {
            $(this).remove();
        });

    });


    init_order_form();



}

function add_to_cart(param) {

    i = arrfind(cart,param.id);
    if (i>=0) {

        cart[i].cnt++;

    } else {

        param.cnt = 1;
        cart.push(param);

    }

    refresh_cart();
}

function cart_minus(sender,id) {

        i = arrfind(cart,id);
    if (i>=0) {

        if (cart[i].cnt>0) cart[i].cnt--;
        if (cart[i].cnt<1) $(sender).parent().parent().parent().parent().hide();
        $(sender).next().html(cart[i].cnt + ' шт.');

    }

    refresh_cart();

    return false;

}

function cart_del(sender,id) {

        i = arrfind(cart,id);
    if (i>=0) {

        if (cart[i].cnt>0) cart[i].cnt=0;
        $(sender).parent().parent().parent().parent().hide();


    }

    refresh_cart();

    return false;

}

function cart_plus(sender,id) {

        i = arrfind(cart,id);
    if (i>=0) {

        cart[i].cnt++;

        $(sender).prev().html(cart[i].cnt + ' шт.');

    }

    refresh_cart();

    return false;

}

function refresh_cart() {


    //a = array2json({'cart':cart,'ohash':ohash});
   $.cookie('cartcontent', array2json([cart,ohash]), { expires: null, path: '/', domain: document.domain});


    con = '';

    for (i=0;i<cart.length;++i) {

        if (cart[i].cnt>0) {
            con += '<div class="cartitem"><table><tr>';
            con += '<td><img src="' + cart[i].img +'" width=40 height=40 class="cartitemimg"'
            if (cart[i].type==2) con += ' onclick="constr_edit(this,\'' + i+'\'); return false;"';
            con += '></td>';
            con += '<td><div class="itemtext"><span class="itemname">'+ cart[i].name + '</span>';
            con += '<span class="cminus" onclick="cart_minus(this,\'' + cart[i].id+'\'); return false;"></span>';
            con += ' <span class="cartgrey">'+ cart[i].cnt + ' шт.</span> ';
            con += '<span class="cplus" onclick="cart_plus(this,\'' + cart[i].id+'\'); return false;"></span>';
            con += ' <span class="cartgrey">x '+ cart[i].price + '</span> </td>';
            con += '<td><span class="itemprice">'+ cart[i].price + ' р</span></div></td>';
            con += '<td><div class="itemdel" onclick="cart_del(this,\'' + cart[i].id+'\'); return false;"></div></td>';

            con += '</tr></table></div>';
        }
    }
    $("#itemsdiv").html(con);


    $("#itemsdiv2").mCustomScrollbar("update");

        refresh_sum();



}

function calc_sums(items,self,rship,rfreeship) {

    // self = 2 - самовывоз
    // self = 1 - доставка


    drinks = 0;
    other = 0;


    for (i=0;i<cart.length;++i) {


        if (items[i].cat==2) drinks += items[i].price*items[i].cnt;
        else other += items[i].price*items[i].cnt;


    }

    if (self == 2) {

        discount = Math.floor(other*0.1);
        ship = 0;


    } else {

        discount = 0;
        if (other<rfreeship) ship = rship;
        else ship = 0;


    }


    regular = drinks + other;
    if (regular==0) ship = 0;
    discounted = regular - discount;


    total = discounted + ship;



    return {
                  "other" : other,
                  "drinks" : drinks,
                  "rship" : rship,
                  "rfreeship" : rfreeship,
                  "ship" : ship,
                  "discount" : discount,
                  "regular" : regular,
                  "discounted" : discounted,
                  "total" : total

                  };



}

function refresh_sum() {


    rajid = $("#rajsel").val();


   cnt = 0;

   self = (!$("#ship1").prop("checked") ? 1 : 2);

   for (i=0;i<cart.length;++i) {
    cnt+=cart[i].cnt;

   }

   sum = calc_sums(cart,self,sheep[rajid],freesheep[rajid]);



   dopespl = sum.rfreeship - sum.other;

    out = '';
    if (self == 1) {

        out += '<span class="sumgray">Итого:</span> ';
        out += '<span class="sumorange">' + sum.total +' р</span>';

        summa = sum.total;

        if (dopespl>0) {

            out += '<br><span class="sumgray">Доставка:</span> ';
            out += '<span class="sumorange">' + sum.ship +' р</span>';

            out += '<br><span class="sumgray">До бесплатной доставки:</span> ';
            out += '<span class="sumorange">' + dopespl +' р</span>';
        } else {

            out += '<br><span class="sumgray">Доставка бесплатная</span> ';
        }


    } else {

        if (sum.discount>0) {

                out += '<span class="sumgray">Итого:</span> ';
                out += '<span class="sumorange"><s>' + sum.regular +' р</s></span>';

                out += '<br><span class="sumgray">Сумма со скидкой:</span> ';
                out += '<span class="sumorange">' + sum.total +' р</span>';
                summa = sum.total;

            } else {
                out += '<span class="sumgray">Итого:</span> ';
                out += '<span class="sumorange">' + sum.total +' р</span>';
                summa = sum.total;
            }


    }

    $("#cartstatic").html('<img src="index_files/cartico.png"><span>'+cnt + ' '+ l_items(cnt) + '<br> '+ summa + ' ' + l_rur(summa) + '</span>');

    $("#sumdiv").html(out);

}

function show_order_form() {

    $("#orderdiv").toggle();

    $("#itemsdiv2").mCustomScrollbar("update");

}

function init_order_form() {


    con = '';


    con += '<div id="itemsdiv2"><div id="itemsdiv"></div></div>';


    con += '<div id="sumdiv"></div>';


    con += '<form method="POST">';

    con += '<table>';
    con += '<tr><td><span class="cartaddress">Район:</span></td><td><div id="cartseldiv">'+rajons[0]+'</div><select class="cartselect" id="rajsel" name=raj>';

    for (g=0;g<rajons.length;++g) {

        con += '<option value="' + g + '"' + (g==0 ? 'selected' : '') + '>' + rajons[g] + '</option>';
    }

    con += '</select></td></tr>';

    con += '<tr><td><span class="cartaddress">Адрес:</span></td><td><input type=text class="cartinput" name="adr" id="inpadr"></td></tr>';

    con += '<tr><td><span class="cartaddress">Телефон:</span></td><td><input type=text class="cartinput" name="tel" id="inptel"></td></tr>';

    con += '</table>';


     con += '<div id="commadd">Добавить комментарий</div><div id="commdiv"><textarea name="comment" id="inpcom"></textarea></div>';

    con += '<div class="ordercntl"><span id="orderconf">Заказать</span>';
    con += '<input type=checkbox name=ship id="ship1" hidden><label for="ship1">самовывоз</label></div>';


    con += '</form>';






    $("#orderdiv").html(con);

    //wheight = $(window).height() - 580;
    //if (wheight>60) $("#itemsdiv2").css('max-height',wheight+'px');

    $("#itemsdiv2").mCustomScrollbar({scrollInertia:0,theme:"dark"});

    refresh_sum();

    $("#ship1").change(function() {
         refresh_sum();
    });

    $("#ship2").change(function() {
         refresh_sum();
    });

    $("#orderback").click(function() {
         $("#orderdiv").hide();
    });

    $("#commadd").click(function() {
         $("#commdiv").toggle();
    });

    $("#orderconf").click(function() {

                var datas = {'cartcontent':cart,
                            'ohash': ohash,
                            'raj':$('#cartseldiv').html(),
                            'adr':$('#inpadr').val(),
                            'tel':$('#inptel').val(),
                            'comm':$('#inpcom').val(),
                            'sum':summa,
                            'self':($("#ship1").prop("checked") ? 2 : 1)};

        	   $.ajax({
                    type:"POST",
                    url: 'checkout.php',
		    dataType: 'json',
                    data : datas,
                    success: function (result) {


			if (result.status=='error') {

                            //TODO: диалог сброса корзины?

                           alert(result.message);

			} else if (result.status=='succes') {

                                    build = [];
			             clear_cart();
                                     refresh_cart();
                            //$("#orderdiv").show();
                            $("#orderdiv").html('<center>Спасибо за Ваш заказ! Ожидайте звонка оператора в течение 10 минут!</center><div class="ordercntl"><span id="orderback">OK</span></div>');
                                $("#orderback").click(function() {
                                    //$("#orderdiv").hide();
                                    init_order_form();
                                    show_order_form();

                                                $("#cartstatic").click(function(){

                                                    show_order_form();

                                                });
                               });


			}



                    }
            });


    });

    $("#rajsel").change(function() {


        $('#cartseldiv').html(rajons[$("#rajsel").val()]);
        refresh_sum();

    });

            $("#cartstatic").click(function(){

        show_order_form();

    });
}




function clear_cart() {

    cart = [];
    var now = new Date().getTime();
    ohash = md5('fsdhdf'+now);


}


function get_params(adv) {

    var name = $(adv).parent().parent().parent().parent().parent().find('dt.plate-dishes-specs-title').html();
    var price = parseInt($(adv).parent().find('div.plate-dishes-buy').html().match(/(\d+)/)[1]);
    var img = $(adv).parent().parent().parent().parent().parent().find('img').attr('src');
    var cattext = $(adv).parent().parent().parent().parent().parent().parent().parent().prev().prev().html();
    var cattext2 = $(adv).parent().parent().parent().parent().parent().parent().parent().prev().html();

    if (cattext.match(/Напитки/) || cattext2.match(/Напитки/)) cat=2; else cat=1;

    var id = md5(name + price);

    return {'id':id,'name':name,'price':price,'img':img,'cat':cat,'type':1};

}


function arrfind(arr, hash) {
        for(var i=0; i<arr.length; i++) {
            if (arr[i].id == hash) return i;
        }
        return -1;
}

function arrfindcat(arr, cat) {
        for(var i=0; i<arr.length; i++) {
            if (arr[i].cat == cat) return i;
        }
        return -1;
}

function arrfindcihash(arr, hash) {
        for(var i=0; i<arr.length; i++) {
            if (arr[i].cihash == hash) return i;
        }
        return -1;
}

function l_items(min) {

        min = min % 100;
        min = (min > 20) ? min % 10 : min % 20;

        if (min==1) return 'позиция';
        if (min>1 && min<5) return 'позиции';
        return 'позиций';

}

function l_rur(min) {

        min = min % 100;
        min = (min > 20) ? min % 10 : min % 20;

        if (min==1) return 'рубль';
        if (min>1 && min<5) return 'рубля';
        return 'рублей';

}


function array2json(arr) {
    var parts = [];
    var is_list = (Object.prototype.toString.apply(arr) === '[object Array]');

    for(var key in arr) {
        var value = arr[key];
        if(typeof value == "object") { //Custom handling for arrays
            if(is_list) parts.push(array2json(value)); /* :RECURSION: */
            else parts.push('"' + key + '":' + array2json(value)); /* :RECURSION: */
            //else parts[key] = array2json(value); /* :RECURSION: */
        } else {
            var str = "";
            if(!is_list) str = '"' + key + '":';

            //Custom handling for multiple data types
            if(typeof value == "number") str += value; //Numbers
            else if(value === false) str += 'false'; //The booleans
            else if(value === true) str += 'true';
            else str += '"' + value.replace(/\\/g,'\\\\').replace(/"/g,'\\"') + '"'; //All other things

            parts.push(str);
        }
    }
    var json = parts.join(",");

    if(is_list) return '[' + json + ']';//Return numerical JSON
    return '{' + json + '}';//Return associative JSON
}


function init_constr(data) {


    widths = [0,220,245,255,245];

    build = [];
    condata = [];

    out = '';

    out += '<div id=constr_cont><div id=constr_close><img src="index_files/constr_close.png"></div><div id=constr><div id=constr_title></div>';

    out +='<table class=constr_table><tr>';



    for (i=1;i<5;++i) {

        out += '<td width="210">';
        out += '<div style="height: 3px;"></div>';
        items = data.constr[i];
        for (g=0;g<items.length;g++) {
            out += '<div class=constr_item id="' + items[g].cihash + '"><div class=constr_itemprice>' + items[g].ciprice + ' р.';

            out+= '</div><div class=constr_itemtext>' + items[g].ciname + '</div><span class=constr_underline></span></div>';
            condata.push(items[g]);
        }

        out += '</td>';
        out += '<td width="' + (widths[i]-210)+'">';
        if (i>2) {
            for (g=0;g<items.length;g++)  out += '<div class=constr_plus id="' + items[g].cihash + 'p"><span>+</span></div>';

        }

        out += '</td>';

    }

    out +='</tr></table>';

   // out +='<div class=constr_yousel>Вес пасты 110 гр.</div>';

    out +='<table class=const_foottable><tr>';
    out += '<td><div id=const_yousel2>Вы выбрали:<div id=const_yousel3></div></div></td>';

    out += '<td><div id=const_orangeprice>202 руб.</div></td>';

    out += '<td><div id=const_incart></div></td>';

    out += '</div></div>';

    out +='</tr></table>';

    $("body").append(out);









}

function show_constr(element) {

    if (element>=0) {
        var bld = deepCopy(cart[element].build);
        build = bld;
    }

    curconstitem = element;

    var docHeight = $(document).height();

    var constroff = Math.floor(($(window).height() - 700)/2);

    constroff = (constroff>10 ? constroff : 10);
   $("body").append("<div id='overlay'></div>");
   $("#overlay").height(docHeight);
   $("#constr_cont").show().css({ 'top': constroff+'px'});

    constroff = Math.floor(($(window).height() - $('#constr').height())/2);
    constroff = (constroff>10 ? constroff : 10);
    if ($('#constr').height()>10) $("#constr_cont").css({ 'top': constroff+'px'});
   update_constructor();

   $('.constr_item').off('click');
    $('.constr_plus').off('click');
   $('#const_incart').off('click');

    $(".constr_item").click(function() {

        add_to_constr($(this).attr('id'));
    });

    $(".constr_plus").click(function() {

        plus_to_constr($(this).attr('id').substr(0,32));
    });

    $('#const_incart').click(function() {

        if (conact==1) add_to_cart_from_constr();
        });

    $("#overlay").click(function() {


        $("#constr_cont").hide();
        $("#overlay").remove();


        });

     $("#constr_close").click(function() {


        $("#constr_cont").hide();
        $("#overlay").remove();


        });

     $(document).keyup(function(e) {

	 if (e.keyCode == 27) {

	    $("#constr_cont").hide();
	    $("#overlay").remove();
	}
    });
}

function calc_csum(bld) {

    csum = 0;
     for (i=0;i<condata.length;++i) {
         g = arrfind(bld,condata[i].cihash);
        if (g>=0) {
             amount = bld[g].amount;
            csum += condata[i].ciprice*amount;
        }
     }
     return csum;
}

function update_constructor() {


    youselect = '';

    cats = [0,0,0,0,0];

    selcnt = 0;

    for (i=0;i<condata.length;++i) {

        g = arrfind(build,condata[i].cihash);
        if (g>=0) {

            amount = build[g].amount;
            youselect += '<span class="constr_youselspan" id="' + condata[i].cihash+'m">' + condata[i].ciname + '&nbsp;('+ (amount>1 ?  amount + '&nbsp;x&nbsp;' : '') + condata[i].cimass + '&nbsp;г.' + ')&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>';
            cats[build[g].cat]++;
            ++selcnt;
            $('#'+condata[i].cihash).addClass('constr_item_selected');

        } else {

            $('#'+condata[i].cihash).removeClass('constr_item_selected');
        }

    }

    if (selcnt>0) youselect += '<br><br><span class="constr_youselremoveall">убрать все</span>';

    csum = calc_csum(build);

    $('#const_orangeprice').html(csum + ' руб.');
    $('#const_yousel3').html(youselect);

    if ((cats[1]==0 && cats[2]==0 && (cats[3]>0 || cats[4]>0)) ||
        (cats[1]>0 && cats[2]>0)) {
        conact =1;
        $('#const_incart').removeClass('incart_inactive');
    } else {
        conact =0;
        $('#const_incart').addClass('incart_inactive');
    }



       $('.constr_youselspan').off('click');


    $(".constr_youselspan").click(function() {

        minus_from_constr($(this).attr('id').substr(0,32));
    });

           $('.constr_youselremoveall').off('click');


    $(".constr_youselremoveall").click(function() {

       build = [];
       update_constructor();
    });

}

function add_to_constr(elid) {

    g = arrfind(build,elid);

    if (g>=0) {

        build.splice(g,1);

    } else {

        i = arrfindcihash(condata,elid);

        if (i>=0) {

            cat = condata[i].cicat;
            if (cat==1 || cat==2) {
                //removing
                c = arrfindcat(build,cat);
                while (c>=0) {
                    build.splice(c,1);
                    c = arrfindcat(build,cat);
                }

            }

            build.push({'id':elid,'amount':1,'cat':cat,'price':condata[i].ciprice});


        }
    }
    update_constructor();
}

function plus_to_constr(elid) {

    g = arrfind(build,elid);

    if (g>=0) {

        build[g].amount++;

    } else {

        i = arrfindcihash(condata,elid);

        if (i>=0) {

            cat = condata[i].cicat;
            if (cat==1 || cat==2) {
                //removing
                c = arrfindcat(build,cat);
                while (c>=0) {
                    build.splice(c,1);
                    c = arrfindcat(build,cat);
                }

            }

            build.push({'id':elid,'amount':1,'cat':cat,'price':condata[i].ciprice});


        }
    }
    update_constructor();
}

function minus_from_constr(elid) {

    g = arrfind(build,elid);

    if (g>=0) {

        build[g].amount--;

        if (build[g].amount<1) {

             build.splice(g,1);
        }

    }
    update_constructor();
}

function add_to_cart_from_constr() {

    var now = new Date().getTime();

    var bld = deepCopy(build);

    param =  {'id':md5(now),'name':'Конструктор','price':calc_csum(build),'img':'index_files/constrel.jpg','cnt':1,'cat':1,'type':2,'build':bld};

    if (curconstitem>=0) {
        cart[curconstitem] = param;
    } else {
     cart.push(param);
    }
    curconstitem=-1;
       build = [];

            var containerLeft = $("#cartdiv").offset().left;
        var containerTop = $("#cartdiv").offset().top;
        var image = $('<img src="index_files/constrel.jpg">');
        var elemTop = $('#const_incart').offset().top;
        var elemLeft = $('#const_incart').offset().left;
        var elemWidth = 70 ;
        var elemHeight = 70 ;


     $("#constr_cont").hide();
        $("#overlay").remove();
    refresh_cart();



        image.appendTo($('body')).css({
            'position': 'absolute',
            'left': elemLeft,
            'top': elemTop,
            'width': elemWidth,
            'height': elemHeight,
            'z-index': '10001',
            'opacity': '0.5'
        }).animate({
            opacity: 0,
            left: containerLeft,
            top: containerTop
        }, 1200, function() {
            $(this).remove();
        });
}

function constr_edit(caller,element) {


    show_constr(element);
}

function deepCopy(obj) {

        var out = [], i = 0, len = obj.length;
        for ( ; i < len; i++ ) {
            out[i] = jQuery.extend({}, obj[i]);
        }
        return out;


}


/*



 TODO:
 шрифт в конструкторе pt sans
 вы выбрали клик уменьшает на одну
 количество в скобках
 подсказка










*/
