{% include 'breadcrumb' %}

<div class="page-header primary-inner is-simple">
  <div class="container">
    <h1>404</h1>
  </div>
</div>

{% if page.content != '' %}
  <div class="page-content primary-inner">
    <div class="container">

      <div class="editor">
        {{ messages.page_404 }}
      </div>

    </div>
  </div>
{% endif %}
