{% include 'breadcrumb' %}

<div class="product primary-inner js-product-wrapper" data-product-id="{{ product.id }}">
  <div class="product-page-inner container">
    <div class="row">

      <div class="product-gallery {% if product.images.size > 1 %}cell-xl-6 cell-sm-12{% else %}cell-xl-5 cell-sm-12{% endif %}">
        {% include 'product-gallery' %}
      </div>

      <form
        class="product-caption {% if product.images.size > 1 %}cell-xl-6 cell-sm-12{% else %}cell-xl-7 cell-sm-12{% endif %}"
        action="{{ cart_url }}">
        {% include 'product-caption' %}
      </form>

      <div class="product-content cell-xl-12">
        {% include 'product-content' %}
      </div>

    </div>
  </div>
</div>

{% include 'bundle' %}

{% include 'similar' %}

{% include 'related' %}

{% include 'templates' %}