{% include 'breadcrumb' %}

{% include 'page-header' %}

<div class="search-results primary-inner">
  <div class="container">
    <form action="/search" method="get" class="search-form">

      <input type="hidden" name="lang" value="{{ language.locale }}">

      <input class="input-field search-input"
             type="text"
             placeholder="{{ messages.search_title }}"
             name="q"
             value="{% if search.query != empty %}{{ search.query }}{% endif %}"/>

      <button class="button is-primary search-button" type="submit">
        <i class="icon search-icon ion-ios-search"></i>
      </button>

    </form>

    {% include 'search-results' %}

    {% include 'pagination' %}
  </div>
</div>