{% if data.blocks.size > 0 %}

  <div class="benefits">
    <div class="container">
      <div class="benefits-inner">
        <div class="row">

          {% for benefit in data.blocks %}

            <div class="benefit cell-xl-4 cell-sm-12">
        <span class="benefit-inner">

          <div class="benefit-image">
            {% if benefit.image %}
              <img src="{{ benefit.image }}" title="{{ benefit.title }}" alt="{{ benefit.title }}"/>
            {% endif %}
          </div>

          <div class="benefit-title">{{ benefit.description | editable }}</div>

        </span>
            </div><!-- /.benefit -->

          {% endfor %}

        </div>
      </div>
    </div>
  </div><!-- /.benefits -->

{% endif %}
