
{% include "collection-filter-check", display_filter: false %}

<div class="products-list row">

  {% if collection.products.size > 0 %}

    {% for product in products limit: 100 %}

      <div class="product-card cell-xl-4 cell-md-6 cell-xs-12">
        {% include 'product-card' %}
      </div><!-- /.product-card -->

    {% endfor %}

  {% elsif display_filter %}

    <div class="notices cell-xl-12">
      <div class="notice notice-warning">
        <p>{{ messages.collection_filters_is_empty }}</p>
        <p><a href="{{ collection.url }}" class="action-link is-dark">{{ messages.button_reset_filters }}</a></p>
      </div>
    </div><!-- /.notices -->

  {% else %}

    <div class="notices cell-xl-12">
      <div class="notice notice-info">
        {{ messages.collection_is_empty }}
      </div>
    </div><!-- /.notices -->

  {% endif %}

</div><!-- /.products-list -->
