{% comment %} Заголовок страницы {% endcomment %}

{% assign page_title = '' %}

{% case template %}

  {% when 'cart' %}
    {% assign page_title = messages.cart_title %}

  {% when 'search' %}
    {% assign page_title = messages.search_title %}

  {% when 'compare' %}
    {% assign page_title = messages.comparison_title %}

  {% when 'article' %}
    {% assign page_title = article.title %}

  {% when 'blog' %}
    {% assign page_title = blog.title %}

  {% when 'collection' %}
    {% assign page_title = collection.title %}

  {% when 'product' %}
    {% assign page_title = product.title %}

  {% when 'page' %}
    {% assign page_title = page.title %}

{% endcase %}

<div class="page-header primary-inner is-simple">
  <div class="container">
    <h1>
      {{ page_title }}
    </h1>
  </div>
</div><!-- /.page-header -->

{% assign page_title = '' %}
