{% if product.related_products.size > 0 %}

  <div class="related-products primary-inner">
    <div class="related-products-inner container">
      <div class="block-header is-small">
        <h2>{{ messages.related_products }}</h2>
      </div>

      <div class="row">

        {% for product in product.related_products %}

          <div class="product-card related-product cell-xl-3 cell-lg-4 cell-sm-6 cell-xs-12">
            {% include 'product-card' %}
          </div><!-- /.product-card -->

        {% endfor %}

      </div>
    </div>
  </div><!-- /.related-products -->

{% endif %}