{% if product.similar_products.size > 0 %}

  <div class="similar-products primary-inner">
    <div class="similar-products-inner container">
      <div class="block-header is-small">
        <h2>{{ messages.similar_products }}</h2>
      </div>

      <div class="row">

        {% for product in product.similar_products %}

          <div class="product-card similar-product cell-xl-3 cell-lg-4 cell-sm-6 cell-xs-12">
            {% include 'product-card' %}
          </div><!-- /.product-card -->

        {% endfor %}

      </div>
    </div>
  </div><!-- /.similar-products -->

{% endif %}