.header-block {
  & > .shopcart-widget-wrapper {
    margin-top: 0;
  }

  & > .top-panel-open-search {
    margin-top: 0;
  }
}

.top-panel-open-search {

  @include icon($fa-search);

  @include link-decor($color-link-secondary, $color-link-secondary-hover);
  border: none;
  margin-left: auto;
  margin-top: 0;

  &:hover {
    background-color: transparent;
  }

  @include media-max(sm) {
    margin-left: 0;
  }

  &:before {
    font-size: 1.2rem;
  }
}

.header-compare > .shopcart-widget-wrapper {

  @extend .header-block;
}
//================================
//              HEADER
//================================

.header-wrapper {
  background-color: $color-background-secondary;
  padding-top: 1rem;
  color: $color-text-secondary;
}

//logotype_type

.logotype-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-block {
  margin-top: 1rem;
  margin-bottom: 1rem;

  a {

    @include link-decor($color-link-secondary, $color-link-secondary-hover);
  }

  > * + * {
    margin-top: 0.5rem;
  }
}

.header-compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;

  @include media-max(sm) {
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
  }
}
// catalog-menu

.catalog-menu-wrapper {
  border-top: 1px solid $color-border-secondary;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.catalog-menu {
  &.level-1 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }

  &:not(.level-1) {
    width: 200px;
    background-color: $color-background-secondary;
    -webkit-box-shadow: 0 1px 0.25rem rgba(0, 0, 0, 1);
    box-shadow: 0 1px 0.25rem rgba(0, 0, 0, 1);
  }
}

.menu-item-controls {
  &:hover > * {
    color: $color-link-secondary-hover;
  }

  &.mobile-sidebar-menu-item-controls:hover > * {
    color: $color-link-primary-hover;
  }
}

.menu-item-controls.sidebar-menu-item-controls:hover > * {
  color: $color-link-primary-hover;
}

.catalog-menu-item {
  color: $color-link-secondary;
  text-decoration: none;

  &.level-1 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: $color-link-secondary;
  }
}

.catalog-menu-link {
  color: $color-link-secondary;

  &.level-1 {
    padding: 0.5em 0;
    white-space: nowrap;
    text-decoration: none;
  }

  &:not(.level-1) {
    padding: 0.75em 0.5em;
    text-decoration: none;
  }

  &.is-current {
    color: $color-link-secondary-hover;
  }
}

.catalog-menu-marker {
  width: 1.25rem;
  height: 1.25rem;

  @include own-icon($fa-plus, 'Plus');
  font-size: 0.5rem;
  color: $color-link-secondary;

  &.is-current {
    color: $color-link-secondary-hover;
  }
}

// sidebar menu

.sidebar-menu {
  margin-left: 0.5rem;

  &.level-1 {
    margin-left: 0;
    border-bottom: 1px solid $color-border-primary;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
}

.sidebar-menu-item {
  padding: 0.25rem 0;
  margin-left: 3px;
}



.sidebar-menu-link {


  padding: 0.45rem 0;
  color: $color-link-primary;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1rem;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  &:hover {
    color: $color-link-primary-hover;
  }

  &.is-active {
    color: $color-link-primary-hover;
  }

  &:before {
    padding-right: 0.5rem;
    font-size: 1rem;
  }

  &.level-1 {



    &:before {
      font-size: 1rem;
    }
  }
}

.sidebar-menu-marker {
  height: 1rem;
  width: 1rem;
  color: $color-link-primary;

  @include own-icon($fa-plus, 'Plus') {

    @include position-center();
    font-size: 0.5em;
  }

  &.is-opened {

    @include icon($fa-minus);
  }

  &.is-active {
    color: $color-link-primary-hover;
  }
}

.mobile-sidebar-menu {
  margin-left: 0.5rem;

  &.level-1 {
    margin-left: 0;
    margin-bottom: 2rem;
  }
}



.mobile-sidebar-menu-link {


  padding: 0.45rem 0;
  margin-left: 0.25rem;
  color: $color-link-primary;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1rem;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  &:hover {
    color: $color-link-primary-hover;
  }

  &.is-active {
    color: $color-link-primary-hover;
  }

  &:before {
    padding-right: 0.5rem;
    font-size: 1rem;
  }

  &.level-1 {


    &:before {
      font-size: 1rem;
    }
  }
}

.menu-link {
  //display: flex;
  //flex-flow: row wrap;
}

.mobile-sidebar-menu-marker {
  height: 2rem;
  width: 2rem;
  color: $color-link-primary;

  @include own-icon($fa-plus,'Plus') {

    @include position-center();
    font-size: 0.5rem;
  }

  &.is-active {

    @include icon($fa-minus);

    color: $color-link-primary-hover;
  }

  &.is-opened {

    @include icon($fa-minus);
  }
}
